* {
    padding: 0;
    margin: 0;
}

body, html {
    font-family: Arial, sans-serif;
    font-size: small;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: flex-start;
}

.navbar-container {
    align-items: center;
    display: flex;
    margin-left: auto;
    min-width: 220px;
    justify-content: center;
    padding: 15px 30px 0 30px;
    font-size: 13px;
}

.nav-item {
    flex: 1;
    margin-right: 15px;
}

.nav-item a {
    color: rgba(0, 0, 0, 0.87);
}

.icon {
    background: url("/img/icons.png") no-repeat;
    background-size: 528px 68px;
    width: 30px;
    height: 30px;
    background-position: -132px -38px;
    color: #222;
    opacity: .55;
}

.nav-item .button {
    border: 1px solid #4285f4;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    color: #fff;
    outline: none;
    font-weight: bold;
    line-height: 28px;

    padding: 0 12px;
    white-space: nowrap;
    border-radius: 2px;
    font-size: 13px;
}

.content-container {
    display: flex;
}

.logo {
    margin: auto;
}

.search-form {
}

.footer-container {
}