/*add reset*/
* {

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar {
    flex: c
}
.navbar ul li{
    display: inline-flex;
    text-decoration: none;
    text-align: left;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}
.search-buttons {
    display: inline-flex;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}